* {
    box-sizing: border-box;
}
img {
    width: 100%;
}
html, body {
    height: 100%;
}
header {
    position: fixed;
    top: 0;
    padding-bottom: 25px;
    width: 100%;
    background-color: rgb(246, 246, 246);
}
  .container1 {
      width: 960px;
      margin: 0 auto;
      border-top: 5px solid red;
  }
  .designco-logo {
    width: 100px;
    height: 17px;
    margin-left: 50px;
  }
    .ul-header {
        display: inline-block;
        margin-top: 0;
        padding-left: 50px;
        list-style: none;
    }
    .li-header {
        display: inline-block;
        padding-right: 25px;
        padding-top: 35px;
        font-weight: normal;
    }
a {
    text-decoration: none;
    color: gray;
}
  a:hover {
        color: white;
        padding-top: 35px;
        padding-bottom: 45px;
        background-color: white;
    }
.search-bar {
  height: 20px;
  width: 20px;
  float: right;
  margin-top: 35px;
  margin-right: 50px;
}
.container2 {
  margin: 0 auto;
  margin-top:200px;
  text-align: center;
  color: #494949;
  font-size: 25px;
}
    .container2 > h1 {
      margin: 0;
      padding: 0;
      font-size: 50px;
    }
    .grid {
        margin: 0 auto;
        width: 70vw;
        display: flex;
        margin-top: 100px;
    }
    .grid img {
        width: 100%;
    }
    .grid__column {
        display: flex;
        flex-wrap: wrap;
        padding-right: 1vw;
        align-content: flex-start;
    }
    .grid__column:last-child {
        padding: 0;
    }
    .grid__column--two-thirds {
        flex: 1.99;
    }
    .grid__column--one-third {
        flex: 1.01;
    }
    .grid__item {
        padding-bottom: 1vw;
    }
    .grid__item--full {
        min-width: 100%;
        flex: 3;
    }
    .grid__item--one-third {
        flex: 1.2;
        padding-right: 1vw;
    }
    .grid__item--two-thirds {
        flex: 1.8;
    }
    .grid img {
      transition: 2s ease;
    }
    .grid img:hover {
      opacity: 0.5;
    }
.container3 {
  margin: 0 auto;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 10px;
}
.bottom-text-grid {
  display: flex;
  max-width: 70vw;
  padding-bottom: 40px;
}
.bottom-text1, .bottom-text2 {
  width: 200px;
}
.bottom-text1 {
    flex: 1;
}
.bottom-text2 {
    width: 100%;
    flex: 3;
    padding-left: 20px;
}
.bottom-text2 > h4 {
  color: #494949;
  font-weight: bold;
  font-size: 15px;
  margin-top: 0;
  padding: 0;
}
p {
  columns: 3;
  -webkit-column-width: 150px;
  -ms-column-width: 150px;
  -moz-column-width: 150px;
  column-width: 150px;
}
.bottom-text-font {
  font-size: 14px;
  color: #494949;
  font-weight: lighter;
}
.red-text {
  color: red;
  font-size: 15px;
  margin-bottom: 10px;
  font-weight: bold;
}
.header-text {
  color: #494949;
  font-weight: bold;
}
.bottom-text-links {
  text-decoration: underline;
}
@media all and (max-width: 400px) {
    .grid {
        display: block;
        padding: 0;
    }
    .grid div {
        width: 100%;
        display: block;
        padding: 0;
    }
    .bottom-text-grid {
        display: block;
        padding: 0;
    }
    .bottom-text-grid div {
        width: 100%;
        display: block;
        padding: 0;
    }
}
